.normal {
  display: none;
}
.error {
  display: block;
  text-align: center;
}
.error_casilla {
  display: block;
}
.correcto {
  color: #5f6;
  display: block;
  text-align: center;
}
#textoIndicador {
  margin: 15px 0;
}
