* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.formularioRP {
	width: 950px; 
	background:rgba(255, 255, 255, 0.767) ;
	padding: 25px;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	border-radius: 10px; 
	font-family: 'calibri';
	color: green;
	box-shadow: 7px 13px 37px #000; 
}

.formularioRP h4 {
	font-size: 22px;
	margin-bottom: 20px;
	text-align:center;
}

.controls { 
	width: 100%;
	background: #ffffff00;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px solid #050505;
	font-family: 'calibri';
	font-size: 18px;
	color: green;
 }

.formularioRP .botons {
	width: 100%;
	background: #000000;
	border: none;
	padding: 12px;
	color: white;
	margin: 16px 0;
	font-size: 16px;
}
.bnt_enviar {
    text-align: center;
    background-color: white;
    padding: 0.5em;
    width: 150px;
    border-radius: 4px;
    border: 0;
    margin-left: 200px;
}


table {
	width: 100%;
}

table, th, td {
	border: 2px  solid #000000;
	border-collapse: collapse;
	font-family: 'calibri';
	font-size: 16px;
}

th, td {
	padding: 10px; 
}

th {
	text-align: left;
}
textarea {
	border: 2px  solid #000000;
	font-family: 'calibri';
	font-size: 16px;
}

p {
	font-family: 'calibri';
	font-size: 18px;
}

select {
	font-family: 'calibri';
	font-size: 16px;
}

body {
	background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,14,20,.8)), url(../img/background.jpg);
	background-position: center center;
    background-size: cover;
}


.mensajeError{
	color:red;
	font-size: 9px;
	}