.col-md-6 {
  padding: 20px;
}
.titulo {
  font-size: 25px;
}
.parrafo {
  text-align: justify;
  font-size: 13px;
}
.img {
  width: 100%;
}
.MargenCatalogo {
  border: 1px solid rgba(129, 129, 129, 0.2);
}
.img_principal {
  width: 80%;
  height: 200px;
}
.Categorias {
  color: #9e9e9e;
}
.precio {
  font-weight: 500;
  color: #47b1c2;
}
