body h2 {
  font-family: "Dacing Script", cursive;
}
#TituloSuperior {
  font-size: 1.5rem;
  text-align: center;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 14, 20, 0.8)),
    url(../img/background.jpg);
  background-position: center center;
  background-size: cover;
}
#imagen_logo {
  width: 100%;
}
.catalogo {
  margin-top: 20px;
  margin-bottom: 20px;
}
#mainNav a {
  color: white;
}
.navbar-main .active {
  text-underline-offset: 5px;
}
.nav {
  position: relative;
}
/**/
footer {
  position: relative;
  margin-top: 20px;
}
.iconos_redes_Sociales {
  width: 50px;
  height: 50px;
}
#menu_de_redes_sociales ul {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.titulosfooter {
  color: green;
}
#menu_de_redes_sociales ul li {
  display: inline;
  padding: 10px;
}
.parrafossucursal p {
  text-align: justify;
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 5px;
}
#politicas a,
#ayuda a {
  text-decoration: none;
  display: block;
  margin: 10px;
  color: black;
  font-size: 14px;
}

/*CRRUSELfOTOS*/
#tamanoCarrusel {
  width: 60%;
  margin-top: 20%;
}
#next {
  float: left;
  margin-top: -100px;
}
#atraz {
  float: right;
}
.divposicionamiento {
  position: relative;
}
.carousel-item img {
  height: 400px;
  width: 90%;
  margin-left: 5%;
}

/**/
.iconos_font {
  font-size: 60px;
  text-align: center;
  color: rgba(0, 255, 255, 0.6);
  width: 100%;
}
.TitulosInformacion {
  color: #4c4c4c;
  font-size: 1.1rem;
  margin-top: 5px;
  text-align: center;
}
.tamanoInformacion {
  font-size: 0.9rem;
  text-align: justify;
}
.TamanoCards {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#boton_nosotros {
  appearance: none;
  display: inline-block;
  width: auto;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 8px 15px;
  background-color: #000;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  white-space: normal;
  font-size: 13px;
}
#SesionNosotros {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 255, 0, 0.01)),
    url(../img/FondoNosotros.png);
  background-position: center center;
  background-size: cover;
  padding: 100px;
}
/**/
@media (max-width: 768px) {
  .carousel-item img {
    height: 250px;
    width: 100%;
    margin-left: 2%;
  }
  #botonex {
    position: absolute;
    left: 80%;
    top: -15px;
  }
  #mainNav a {
    color: black;
  }
  #posicionamiento {
    position: absolute;
    right: 0;
    width: 100%;
  }
  .nav {
    background-color: aliceblue;
    width: 100%;
    margin-top: 50px;
    margin-left: 10px;
    position: relative;
    z-index: 1;
  }
  iconos_redes_Sociales {
    width: 70px;
    height: 70px;
  }
  #menu_de_redes_sociales ul {
    justify-content: space-between;
  }
  #menu_de_redes_sociales ul li {
    padding: 10px;
    justify-content: space-between;
  }
  .titulosfooter {
    font-size: 22px;
  }
  .parrafossucursal {
    padding-left: 30px;
  }
  #SesionNosotros {
    padding: 50px;
  }
}
@media (max-width: 575px) {
  .catalogo {
    margin-bottom: 0px;
  }
  .nav {
    margin-top: 100px;
  }
  #botonex {
    top: -75px;
  }
  .nav {
    margin-top: -10px;
  }
  #SesionNosotros {
    padding: 30px;
  }
}
